.box-1 { background-color: #FF6766; }
#decentralized_address {
    color: rgb(225, 215, 215);
    top: 2px;
    font-weight: bold;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 20px;
	font-family: 'Jost', sans-serif;
    position: absolute;
    font-weight: bolder;
    left: 100px;
}
.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}

div[class*=box] {
	/* height: 33.33%; */
	width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
    font-weight: bolder;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
    font-weight: bolder;
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
    font-weight: bolder;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
    font-weight: bolder;
}

.popup{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;

    box-shadow: 0 0 5px 0 ;
    background: inherit;
    backdrop-filter: blur(20px);
    margin: 100px;
}

.popup-content
{
    height: 250px;
    width:500px;
    background: inherit;
    padding:20px;
    border-radius: 5px;
    position: relative;
    top: 200px;
}

input{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
    font-weight: bolder;

}


.close{
    position:absolute;
    top: 3px;
    right: 1px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
    cursor: pointer;
}

#abt{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section {
    padding: 125px;
    background: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
}

.box{
    position: relative;
    max-width: 600px;
    margin: 15px;
    padding: 50px;
    height: 300px;
    width: 300px;
    background: rgba(255,255,255,.2);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}

#content-about{color: rgb(225, 215, 215);
    top: 15vh;
    font-weight: bold;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 20px;
	font-family: 'Jost', sans-serif;
    position: absolute;
    font-weight: bolder;
    left: 100px;

}

#totalclaims{
    font-size: 15px;
	font-family: 'Jost', sans-serif;
    cursor: pointer;
    font-weight: bold;  
}

#textclaim{
    color: rgb(225, 215, 215);
	font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.lastPage{
    background:linear-gradient(to bottom, #0f0c29, #302b63, #24243e);

}

/* for collapsible to view tokens */
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }